
.swiper{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 0;
}

.img > img{
    height: 60%;
    width: 100%;
   }

.img > div{
    position: absolute;
    top: 40%; 
    left: 25%;
    /* border: 2px solid #2798B7;
    background-color: #488D65; opacity: 0.8;  */
    
    width: 500px;
    height: 200px;
    animation-name: myanimantion;
    animation-duration: 4s;
    transition: all 5s linear;
}



@keyframes myanimantion{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
}


.img > div > h2{
    color: #2798B7;
    font-size: 5rem;
    text-align: center;
    /* text-decoration: underline; */
    text-transform: uppercase;
    text-shadow: 5px #2798B7;
}


.img > div > p{
    color: white;
    text-align: center; 
    font-size: 2rem;
    transition: all 1s linear;
}


@media screen and (min-width: 950px) {
    .img > img{
        height: 600px;
        width: 100%;
       }

       .img > div{
        position: absolute;
        left: 35%;
       
    }
    
}



@media screen and (max-width: 768px) {
    .swiper {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 0;
    }

    .swiper {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 0;
    }

   .img > img{
    height: 300px;
    width: 100%;
   }

   .img > div{
    position: absolute;
    top: 30%; 
    left: 25%;
    width: 300px;
    height: 150px;
}


.img > div > h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}


.img > div > p{
    color: white;
    text-align: center; 
    font-size: 1em;
    transition: all 1s linear;
}

   
}




@media screen and (max-width: 450px){

    .img > div{
        position: absolute;
        top: 30%; 
        width: 240px;
        height: 150px;

    }

    
    .img > div > p{
        color: white;
        text-align: justify; 
    }

}
    
