.title{
    text-align: center;
    font-size: 4rem;
    color: #2798B7;
}


.accordion{
    /* border: .3rem solid #2798B7; */
    border: .3rem solid gray;
    border-radius: .8rem;
}


.header{
    font-size: 5rem;
}
