
.button{
    background-color: #2798B7;
    width: 100%;
    margin-top: 1rem;
}


.reload{
    background-color: #2798B7;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.button:hover{
    background-color: #F94001;
}

.reload:hover{background-color: #F94001;}
.cardbody{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
}


.main{
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.results > p{
    text-align: center;
    margin-top: 3rem;
    font-size: 1.2rem;
}


@media screen and (max-width: 767px) {
    .cardbody{
        grid-template-columns: 1fr;
    }
  }